*env
*venv
.DS_Store

# Pip
dist/
polyapi_python.egg-info/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
*/.vscode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp

# pycache
__pycache__
.mypy_cache/

# poly
.config.env
.polyapi-python
function_add_test.py
lib_test*.py
polyapi/poly
polyapi/vari
polyapi/schemas
