[build-system]
requires = ["setuptools>=61.2", "wheel"]

[project]
name = "polyapi-python"
version = "0.2.0.dev7"
description = "The PolyAPI Python Client"
authors = [{ name = "Dan Fellin", email = "dan@polyapi.io" }]
dependencies = ["requests", "typing_extensions", "jsonschema-gentypes==2.4.0", "pydantic>=2.5.3", "stdlib_list", "colorama", "python-socketio[asyncio_client]", "truststore"]
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.10"

[project.urls]
Homepage = "https://github.com/polyapi/polyapi-python"

[tool.setuptools]
packages = ["polyapi"]

[tools.setuptools.packages.find]
include = ["polyapi"]
exclude = ["polyapi/poly*", "polyapi/vari*", "polyapi/.config.env"]  # exclude the generated libraries from builds
